* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background: whitesmoke;
  box-sizing: border-box;
  position: relative;
  max-width:  100vw;
  max-height: 100vh;
  /* font-size: 1rem; */

}
html {
  font-size: 16px; 
}


@media (max-width: 768px) {
  html {
    font-size: 14px; /* Smaller font size for smaller screens */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px; /* Even smaller for very small screens */
  }
}


body.freeze-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
}

section {
  width: 100vw;
  overflow: hidden;
}

a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits text color from the parent */
  background: none; /* Removes any background */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
  border: none; /* Removes any border */
  outline: none; /* Removes outline on focus */
}

/* header */
.navbar {
  box-sizing: border-box;
  width: 100vw;
  height: 7vh;
  background: #1ac073;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  align-items: center;
}
#logo {
  height: 60%;
  cursor: pointer;
  width: 70%;
  
}
.logo-container{
  height: 60%;
  width: 10%;
}
.inner-nav {
  width: 82%;
  height: 80%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0% 9%;
}
.nav-content {
  width: 63%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0% 2%;
  align-items: center;
}
.search-cartIcon {
  display: flex;
  width: 10%;
  justify-content:space-between;
  align-items: center;
}

.menu-item {
  font-size: 1.1rem;
  width: 55%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-item span {
  cursor: pointer;
}
#searchIcon {
  cursor: pointer;
  width: 60%;
  height: 90%;
  
}

#bagIcon {
  /* object-fit: fill; */
  z-index: 11;
  cursor: pointer;
  width: 60%;
  height: 70%;
}
#dot{
  position: absolute;
  z-index: 12;
  height: 120%;
  width: 5%;
  top:0;
  right: 0;
}

.searchIcon-container{
  height: 100%;
  position: relative;

  width: 50%;
  /* height: 100%; */

}

.cartIcon-container{

  width: 100%;
  height: 100%;
  /* height: 100%; */

}


/* .landing-section */
.landing-section {
  box-sizing: border-box;
  /* width: 100vw; */
  background: #1ac073;
  display: flex;
  align-items: center;
  padding: 5% 9%;
}
.cooking {
  padding-top: 14%;
  padding-left: 4.6%;
  width: 40%;
  height: 40%;
}
.cooking img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3%;
  width: 45%;
}

.display-text p:nth-of-type(1) {
  color: white;
  font-size: 3.5rem;
  line-height: 100%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.display-text p:nth-of-type(2) {
  width: 65%; 
  font-size: 3rem;
  color: white;
  padding: 3% 0%;
  font-size: 1rem;

 
}
.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 58px;
  padding-top: 3%;
}
.search-input input {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  background: #ffffff;
  color: rgb(158, 158, 158);
  padding: 0px 10%;
  font-size: large;
  outline: none;
}
.search-input div:nth-child(2) {
  width: 55%;
  height: 100%;
  color: white;
  border-radius: 0px 10px 10px 0px;
  background: #f3ba00;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* kitchen */
.kitchen-section {
  width: 100vw;
  height: 175%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4%;
}

.kitchen-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
}
.filter-secon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 82%;
}
.filter-secon p {
  font-size: 2.5rem;
}

.cards-home {

  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0%;
}
.frame {

  /* width: 122%; */
  margin: 2.5% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15%;
  gap: 4%;
}
.card {
  border-radius: 25%;
  height: 100%;
}

/* .kitchen-discount-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-yellow);
  padding: 0.7rem 0.3rem;
  color: black;
  font-weight: 400;
} */
.product-card-detail {
  border-radius: 5%;
  background: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}
.price p {
  padding: 2% 5%;
  font-size: 1.1rem;
}

.rating-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% ;

}

.rating-box {
  font-size: small;
  width: 50%;
  border-radius: 10%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0% 5%;
}
.rating-box div {
  padding: 2%;
  background: rgb(246, 245, 245);
  border-radius: 4%;
}
.rating-box div:nth-child(2) {
  padding: 1% 2%;
  border-left: 4% solid rgb(211, 211, 211);
  border-right: 4% solid rgb(210, 208, 208);
  border-radius: 13%;
}
.cartIcon-container{
  position: relative; 
  width:100%;
}


#star {
  width: 30%;
  height: 30%;
}


.left-slide img:hover {
  content: url("img/play-sign (1).png");
  transform: scale(1.1);
}
.right-slide img:hover {
  content: url("img/play-sign.png");
  transform: scale(1.1);
}

.btn {
  cursor: pointer;
  border: none;
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 10%;
  color: #ffffff;
  background: #1ac073;
}

.btn-cancel {
  width: 45%;
  height: 100%;
  border-radius: 7%;
  color: #1ac073;
  background: #ffffff;
  border: 1px solid #22c679;
}
.btn-submit {
  width: 45%;
  height: 100%;
  border-radius: 7%;
  color: #ffff;
  background: #22c679;
  border: none;
}
.dish-buttons{
  height: 10%;
}

.slider-container {
  box-sizing: border-box;
  margin-top: 4%;
  width: 85%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* gap: 5%; */

  justify-content: space-between;
}

.popular-item {
  font-size: 2.5rem;
  margin-bottom: 2%;
}

.slider-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 5%; */
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 75%;
  gap:5%;
}

.card {
  border-radius: 10%;
  background-color: #fff;
  transition: transform 0.5s;
  
}

.card:hover{
  transform: scale(1.1);
}

.card-img-container img {
  position: relative;
   width: 100%; 
}



.price {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.rating-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-box {
  display: flex;
}

#addToCart {
  cursor: pointer;
}
.add{

  width: 20%;
}

.add img:oncli {
  content: url("img/play-sign (1).png");
  transform: scale(1.1);
}

.left-slide img, .right-slide img {
  cursor: pointer;
  width: 80%;
  margin-top: 25%;
}
span.right-slide {
  width: 8%;
}
span.left-slide {
  width: 8%;
}

/* service-section */
.service-section {
  margin-top: 12%;
  width: 100%;

  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  text-align: center;
}
.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  z-index: 2;
}
.video-container {
  width: 80%;
  width: 100%;
  margin-top: 4% ;
  margin-bottom: 11%;
  z-index: 2;
}
.video-container video {
  width: 75%;
  height: 100%;
  z-index: 2;
}



.heading-container {
  width: 85%;
  text-align: center;
}
.heading-container h2 {
  font-size: 2.5rem;
}

.background {
  background: #c7eacc;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44%;
  z-index: 1;
}

.contactUs-container {
  box-sizing: border-box;
  padding: 5% 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  /* box-sizing: border-box; */

  width: 83%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-form {
  width: 60%;
}
.form-text {
}
.form-text p:nth-child(1) {
   font-size: 1.5rem;
  line-height: 90%; 
}
.form-text p:nth-child(2) {
  margin-top: 1.75%;
  font-size: .75rem;
}
.form-field {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-field input {
  width: 40%;
  padding: 3.5%;
  outline: none;
  border: none;
  border-radius: 5%;
  background: white;
}
.form-field textarea {
  margin-top: 4%;
  padding-left: 4%;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 5%;
  background: white;
  line-height: 650%;

}
.btn-submit-contact {
  margin-top: 2%;
  padding: 2.5% 0%;
  background-color: #1ac073;
  color: white;
  border: none;
  border-radius: 12%;
  font-size: 1.3rem;
  cursor: pointer;
  width: 30%;
}
.delivery-icon{
  width: 90%;
  height: 90%;
}
.delivery-icon img{
  width: 100%;
  height: 100%;
}

/* footer */
.outer-footer {
  padding: 2% 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #1ac073;
}
.footer {
  font-size: 1.1rem;
  width: 80%;
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#instaIcon{
  width: 100%;
  height:100%;
}
#facebookIcon{
  width: 100%;
  height:100%;
}

/* cart */
.cart {
  margin: 5% ;
  width: 90%;
  height: 13%;
  position: absolute;
  background: rgb(255, 255, 255);
  padding: 5% 0%;
  justify-content:center;
  display: flex;
  flex-direction: column; 
  align-items: center;
  border-radius: 2%;
  z-index: 1000;
  display: none;
}
.cart-text {
  margin-top: 5%;
  text-align: center;
  width: 50%;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.cart div img {
  margin-left: 26%;
  width: 50%;
  /* height: 40%; */
}

.btn-backTo-menu {
  margin-top: 5%;
  width: 12%;
  height: 10%;
  border-radius: 5%;
  color: #ffff;
  background: #22c679;
  border: none;
}

/* dish request */
.dish-request {
  margin: 6%;
  width: 75%;
  height: 11%;
  position: absolute;
  background: rgb(255, 255, 255);
  padding: 7%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1%;
  z-index: 1000;
  display: none;
}

.dish-request-input {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  
}
.dish-request-input div {
  
  /* padding-top: 5%; */
  
  
  width: 100%;
  /* height: 100%; */
  
}
.dish-request input {
  padding-left: 2%;
  width: 100%;
  height: 80%;
  outline: none;
  border: none;
  border-radius: 10px;
  background: whitesmoke;
}

.dish-request div:nth-child(2) {
  width: 100%;
  height: 33%;

} 

.dish-request div:nth-child(3) {
  margin-top: 5%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



#dishRequest {
  padding: 7% 0%;
  background-color: #1ac073;
  color: white;
  border: none;
  border-radius: 5%;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.dish-btn-container{
  
  margin-top: 7%;
  width: 15%;
  height: 35%;
}
