.slider-container {
  margin-top: 4%;
  width: 85%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-item {
  font-size: 2.5rem;
  /* font-weight: bold; */
  margin-bottom: 2%;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  display: flex;
  justify-content: space-between;
  /* gap: 15px; */
  /* overflow: hidden; */
  /* padding: 0px , ; */
  width: 75%;
}

.card {
  /* width: 200px; */
  border-radius: 10px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
  /* padding: 10px; */
  transition: transform 0.5s;
  
}

.card:hover{
  transform: scale(1.1);
}

.card-img-container img {
  width: 100%;
  /* border-radius: 10px; */
}

.product-card-detail {
  /* padding: px 0; */
}

.price {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.rating-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-box {
  display: flex;
  /* gap: 5px; */
}

#addToCart {
  cursor: pointer;
}

.left-slide img, .right-slide img {
  cursor: pointer;
  width: 80%;
  margin-top: 25%;
}
span.right-slide {
  width: 8%;
}
span.left-slide {
  width: 8%;
}

#dishRequest {
  padding: 7% 0%;
  background-color: #1ac073;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.dish-btn-container{
  
  margin-top: 7%;
  width: 15%;
  height: 35%;
}

/*  */

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  /* background: F2F2F2; */
  position: relative;
}

body.freeze-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
section {
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits text color from the parent */
  background: none; /* Removes any background */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
  border: none; /* Removes any border */
  outline: none; /* Removes outline on focus */
}

/* header */
.navbar {
  width: 100%;
  height: 11%;
  background: #1ac073;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
}
#logo {
  cursor: pointer;
  
}
.logo-container{
  height: 100%;
  width: 10%;
}
.inner-nav {
  width: 82%;
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 9%;
}
.nav-content {
  width: 63%;
  height: 150%;
  display: flex;
  justify-content: space-between;
  padding: 0px 2%;
  align-items: center;
}
.search-cartIcon {
  display: flex;
  width: 10%;
  /* height: 24px; */
  justify-content: space-between;
}
#searchIcon {
  cursor: pointer;
  width: 40%;
  height: 40%;
  /* width: 22px;
  height: 22px; */
}
.menu-item {
  font-size: 1rem;
  
  /* padding: 0px 50%; */
  width: 55%;
  /* height: 25%; */
  color: white;
  display: flex;
  justify-content: space-between;
}
.menu-item span {
  cursor: pointer;
}

#bagIcon {
  cursor: pointer;
  width: 40%;
  height: 40%;
  /* width: 24px;
  height: 24px; */
}

/* .landing-section */
.landing-section {
  /* padding-top: 20%; */
  width: 100%;
  /* height: 100%; */
  background: #1ac073;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 10px 135px; */
  padding: 3% 9%;
}
.cooking {
  padding-top: 14%;
  padding-left: 4.6%;
  width: 35%;
  height: 35%;
}
.cooking img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2%;
  /* width: 534px;
  height: 317px; */
  width: 40%;
  /* height: 4%; */
}
.display-text {
  /* width: 100%; */
  /* height: 30%; */
}
.display-text p:nth-of-type(1) {
  color: white;
  font-size: 4rem;
  /* font-weight: 400; */
  line-height: 110%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.display-text p:nth-of-type(2) {
   /* height: 41px; */
  width: 65%; 
  font-size: 3rem;
  color: white;
  padding: 3% 0px;
  font-size: 1rem;
  /* font-weight: 400; */
  /* line-height: 94%; */
 
}
.search-input {
  /* border-radius: 15%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 58px;
  padding-top: 3%;
}
.search-input input {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  background: #ffffff;
  color: rgb(158, 158, 158);
  padding: 0px 10%;
  font-size: large;
  outline: none;
}
.search-input div:nth-child(2) {
  width: 55%;
  height: 100%;
  color: white;
  border-radius: 0px 10px 10px 0px;
  background: #f3ba00;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* kitchen */
.kitchen-section {
  flex-wrap: wrap;
  width: 100%;
  height: 175%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4%;
  background: whitesmoke;
}

.kitchen-cards {
  width: 100%;
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
}
.filter-secon {
  flex-wrap: wrap;

  width: 82%;
  /* height: 1068px; */
}
.filter-secon p {
  /* padding: 20px 0px; */
  font-size: 2.5rem;
  /* width: 250px; */
  /* height: 24px; */
}

.cards-home {
  flex-wrap: wrap;

  width: 82%;
  /* height: 1131px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0px;
}
.frame {
  flex-wrap: wrap;

  width: 122%;
  /* height: 336px; */
  margin: 2.5% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.card {
  border-radius: 15px;
  /* width: 23%; */
  height: 100%;
}
.card-img-container {
  /* height: 250px; */
}
.product-card-detail {
  border-radius: 15px;

  background: rgb(255, 255, 255);
  width: 100%;
  /* height: 70px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 40px; */
  /* padding: 1% 0px; */
}
.price p {
  padding: 2% 5%;
  font-size: 1.1rem;
}

.rating-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 260px; */
  padding: 3% ;
  padding-right: 10%;

}

.rating-box {
  font-size: small;
  width: 50%;
  /* height: 15px; */
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0px 5%;
}
.rating-box div {
  padding: 2%;
  background: rgb(246, 245, 245);
  border-radius: 4px;
}
.rating-box div:nth-child(2) {
  padding: 1% 2%;
  border-left: 4px solid rgb(211, 211, 211);
  border-right: 4px solid rgb(210, 208, 208);
  border-radius: 8px;
}
/* .add {
   padding-right: 15%; 
  width: 10%;
  height: 20%; 
  cursor: pointer;
  overflow: hidden; 
} */
/* #addToCart{
  width: 100;
  height: 100%;
  object-fit: fill; 
  object-position: center;

} */

#star {
  width: 30%;
  height: 30%;
}
/* 
.popular-item {
  padding-top: 50px; 
  font-size: 38px;
}
.slider {
  width: 933px;
  height: 337px;
  display: flex;
  overflow-x: scroll;
}
.slider div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 41px;
  padding: 10px;
  flex: none;
}

.slider div img {
  width: 100%;
  transition: transform 0.5s;
}
.slider div img:hover {
  cursor: pointer;
  filter: grayscale(0);
  transform: scale(1.1);
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#left,
#right {
  width: 71.5px;
  cursor: pointer;
  margin: 50px;
}
.left-slide img {
  transition: transform 0.5s;
}
.right-slide img {
  transition: transform 0.5s;
}  */

.left-slide img:hover {
  content: url("img/play-sign (1).png");
  transform: scale(1.1);
}
.right-slide img:hover {
  content: url("img/play-sign.png");
  transform: scale(1.1);
}

.btn {
  cursor: pointer;
  border: none;
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 10px;
  color: #ffffff;
  background: #1ac073;
}

.btn-cancel {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  color: #1ac073;
  background: #ffffff;
  border: 1px solid #22c679;
}
.btn-submit {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  color: #ffff;
  background: #22c679;
  border: none;
}
.dish-buttons{
  height: 10%;
}


/* service-section */
.service-section {
  margin-top: 11%;
  width: 100%;

  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  /* background: whitesmoke; */
  text-align: center;
}
.service-container {
  /* margin-top: 180px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* height: 816px; */
  z-index: 2;
  /* position: absolute; */
}
.video-container {
  width: 80%;
  width: 100%;
  margin-top: 4% ;
  margin-bottom: 11%;
  z-index: 2;
}
.video-container video {
  width: 75%;
  height: 100%;
  z-index: 2;
  /* position: absolute; */
}



.heading-container {
  width: 75%;
  text-align: center;
}
.heading-container h2 {
  font-size: 40px;
}

.background {
  /* margin-top: 150%;  */
  background: #c7eacc;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44%;
  z-index: 1;
}

/* contact-us section  */
.contactUs-container {
  padding: 6% 0%;
  width: 100%;
  /* height: 605px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
}

.contact {
  width: 83%;
  /* height: 403px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery-icon {
  /* width: ;
  height:; */
}
.contact-form {
  width: 60%;
  /* height: 70%; */
}
.form-text {
}
.form-text p:nth-child(1) {
   font-size: 1.5rem;
  line-height: 90%; 
}
.form-text p:nth-child(2) {
  margin-top: 1.75%;
  font-size: .75rem;
  /* line-height: 110%; */
}
.form-field {
  margin-top: 5%;
  /* height: 25%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-field input {
  width: 40%;
  padding: 3.5%;
  /* height: 150%; */
  outline: none;
  border: none;
  border-radius: 10px;
  background: white;
}
.form-field textarea {
  margin-top: 4%;
  padding-left: 4%;
  /* padding-top: 4%; */
  width: 90%;
  /* height: 145px; */
  outline: none;
  border: none;
  border-radius: 10px;
  background: white;
  line-height: 650%;

}
.btn-submit-contact {
  margin-top: 2%;
  padding: 2.5% 0%;
  background-color: #1ac073;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  width: 30%;
  /* height: 100%; */
}

/* footer */
.outer-footer {
  padding: 2% 0%;
  width: 100%;
  /* height: 140px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background: #1ac073;
}
.footer {
  font-size: 20px;
  width: 80%;
  /* height: 84px; */
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#instaIcon{
  width: 100%;
  height:100%;
}
#facebookIcon{
  width: 100%;
  height:100%;
}

/* cart */
.cart {
  margin: 100px 40px;
  width: 1360px;
  height: 460px;
  position: absolute;
  background: rgb(255, 255, 255);
  padding: 100px 0px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  z-index: 1000;
  display: none;
}
.cart-text {
  text-align: center;
  width: 500px;
  /* height:200px */
}

h1 {
  text-align: center;
  font-size: 45px;
}

.cart div img {
  width: 220px;
  height: 185px;
}

/* dish request */
.dish-request {
  margin: 100px;
  width: 1050px;
  height: 460px;
  position: absolute;
  background: rgb(255, 255, 255);
  padding: 100px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  z-index: 1000;
  display: none;
}

.dish-request input {
  width: 700px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: whitesmoke;
  padding: 0px 20px;
}

.dish-request div:nth-child(2) {
  height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dish-request div:nth-child(3) {
  width: 470px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



