@media only screen and (max-width: 600px) {
  body {
    background: F2F2F2;
    position: relative;
    max-width: 100px;
    /* background: #000; */
  }

  body.freeze-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  /* header */
  .navbar {
    width: 100%;
    height: 80px;
    background: #1ac073;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
  }
  #logo {
    cursor: pointer;
    width: 90px;
    height: 20px;
  }
  .inner-nav {
    width: 100vw;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 130px;
  }
  .nav-content {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .search-cartIcon {
    display: flex;
    width: 75px;
    height: 24px;
    justify-content: space-between;
  }
  #searchIcon {
    cursor: pointer;
    width: 22px;
    height: 22px;
  }
  .menu-item {
    padding: 0px 15px;
    width: 399px;
    height: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  .menu-item span {
    cursor: pointer;
  }

  #bagIcon {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  /* .landing-section */
  .landing-section {
    width: 1170px;
    height: 790px;
    background: #1ac073;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 135px;
  }
  .cooking {
    padding-top: 190px;
    padding-left: 110px;
    width: 522px;
    height: 525px;
  }
  .cooking img {
    width: 522px;
    height: 525px;
  }
  .hero-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 10px; */
    width: 534px;
    height: 317px;
  }
  .display-text {
    width: 534px;
    height: 219px;
  }
  .display-text p:nth-of-type(1) {
    color: white;
    font-size: 70px;
    font-weight: 400;
    line-height: 82.03px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .display-text p:nth-of-type(2) {
    height: 41px;
    width: 441px;
    font-size: 17px;
    color: white;
    padding: 12px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .search-input {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 398px;
    height: 58px;
  }
  .search-input input {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    background: #ffffff;
    color: rgb(158, 158, 158);
    padding: 0px 15px;
    font-size: large;
    outline: none;
  }

  .search-input div:nth-child(2) {
    width: 175px;
    height: 100%;
    color: white;
    border-radius: 0px 10px 10px 0px;
    background: #f3ba00;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* kitchen */
  .kitchen-section {
    width: 1440px;
    height: 1870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    background: whitesmoke;
  }

  .kitchen-cards {
    width: 100vw;
    height: 1217px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .filter-secon {
    width: 100vw;
    height: 1068px;
  }
  .filter-secon p {
    padding: 20px 0px;
    font-size: 40px;
    /* width: 250px; */
    height: 24px;
  }

  .cards-home {
    width: 100vw;
    height: 1131px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
  }
  .frame {
    width: 1180px;
    /* height: 336px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }
  .card {
    border-radius: 10px;
    width: 277px;
    height: 336px;
  }
  .card-img-container {
    height: 250px;
  }
  .product-card-detail {
    background: rgb(255, 255, 255);
    width: 277px;
    height: 87px;
  }
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 277px;
    height: 40px;
  }
  .price p {
    padding: 10px;
    font-size: 20px;
  }

  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 277px;
  }
  .rating div {
    padding-bottom: 10px;
    align-items: center;
    padding-left: 10px;

    display: flex;
  }
  .rating-box {
    width: 45px;
    height: 20px;
    background: lightgray;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #addToCart {
    cursor: pointer;
    padding-right: 10px;
  }

  .popular-item {
    padding-top: 90px;
    font-size: 38px;
  }
  .slider {
    width: 933px;
    height: 337px;
    display: flex;
    overflow-x: scroll;
  }
  .slider div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 41px;
    padding: 10px;
    flex: none;
  }

  .slider div img {
    width: 100%;
    transition: transform 0.5s;
  }
  .slider div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  .slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #left,
  #right {
    width: 71.5px;
    cursor: pointer;
    margin: 50px;
  }

  .btn {
    border: none;
    width: 210px;
    height: 48px;
    border-radius: 10px;
    color: #ffffff;
    background: #1ac073;
  }

  .btn-cancel {
    width: 210px;
    height: 48px;
    border-radius: 10px;
    color: #1ac073;
    background: #ffffff;
    border: 1px solid #22c679;
  }
  .btn-submit {
    width: 210px;
    height: 48px;
    border-radius: 10px;
    color: #ffff;
    background: #22c679;
    border: none;
  }

  /* service-section */
  .service-section {
    width: 1440px;
    height: 860px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .service-container {
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 816px;
    z-index: 2;
    position: absolute;
    padding-left: 130px;
  }
  .video-container {
    z-index: 2;
  }
  .video-container video {
    width: 877px;
    height: 442px;
    z-index: 2;
    position: absolute;
  }
  .heading-container {
    padding-top: 100px;
    padding-left: 150px;
    padding-bottom: 50px;
  }
  .heading-container h2 {
    font-size: 40px;
  }
  .heading-container p {
    padding-left: 50px;
  }
  .background {
    background: #c7eacc;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 344px;
    z-index: 1;
  }

  /* contact-us section  */
  .contactUs-container {
    width: 1440px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
  }

  .contact {
    width: 1181px;
    height: 403px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .delivery-icon {
    width: 503px;
    height: 402px;
  }
  .contact-form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 15px;
  }
  .form input {
    width: 300px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: white;
  }
  .form textarea {
    width: 600px;
    height: 150px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: white;
  }

  /* footer */
  .outer-footer {
    width: 1440px;
    height: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1ac073;
  }
  .footer {
    width: 1180.5px;
    height: 94px;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* cart */
  .cart {
    margin: 100px;
    width: 1050px;
    height: 460px;
    position: absolute;
    background: rgb(255, 255, 255);
    padding: 100px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    z-index: 1000;
    display: none;
  }

  h1 {
    text-align: center;
    font-size: 45px;
  }

  .cart div img {
    width: 220px;
    height: 185px;
  }

  /* dish request */
  .dish-request {
    margin: 100px;
    width: 1050px;
    height: 460px;
    position: absolute;
    background: rgb(255, 255, 255);
    padding: 100px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    z-index: 1000;
    display: none;
  }

  .dish-request input {
    width: 700px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: whitesmoke;
    padding: 0px 20px;
  }

  .dish-request div:nth-child(2) {
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .dish-request div:nth-child(3) {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .frame {
    width: 1180px;
    /* height: 336px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }
}
