@media only screen and (max-width: 600px) {
  .cooking {
    display: none;
  }

  .hero-display {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    padding-top: 3%;
    width: 100%;
  }

  .delivery-icon {
    display: none;
  }
  .contact-form {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .menu-item {
    gap: 1.5vw;
  }
  .nav-content {
    width: 70%;
  }
  .search-cartIcon {
    gap: 20%;
  }

  .search-input {
    height: 8vw;
  }
  
}
